.homePageContainer {
    width: 39%;
    height: 100%;
    border-right: 1px #2f3336 solid;
    border-left: 1px #2f3336 solid;
    overflow-x: hidden;
}

.homePageContainer::-webkit-scrollbar {
    display: none;
}

.navBar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    left: 0px;
    background-color: black;
}

.userList {
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0px;
    background-color: black;
}

.userPTag {
    margin: .2em 0;
    color: white;
    font-size: 15px;
}

.userListDiv {
    margin-left: 1em;

}

.header {
    color: black;
    border-right: .5px black solid;
    border-left: .5px black solid;
    margin: 0;
    padding: 20px 20px;
}

.pTag {
    margin: 0;
    color: black;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
}

.font {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.submitButtonForCaw:disabled {
    background-color: black;
    height: 30px;
    width: 20%;
    margin: 0;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: default;
}

.submitButtonForCaw {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: white;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: pointer;
    transition: background-color .5s;
}

.submitButtonForCaw:hover,
.submitButtonForComment:hover {
    background-color: rgb(207, 207, 207);
}

.submitButtonForComment {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: white;
    color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    transition: background-color .5s;
}


.submitButtonForComment:disabled {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: black;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: default;
}

/* .submitButtonForCaw {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
} */

.toggle {
    color: 'black'
}

.imgNav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid black;
    /* background-color: black; */
    /* fill: white; */
}


.logoImg {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 4px solid black;
    padding: 1.5px 1.5px 1.5px 1.5px;
    transition-property: background-color;
    transition-duration: .5s;
}

.logoImg:hover {
    padding: 1.5px 1.5px 1.5px 1.5px;
    background-color: white;
}

.profileDiv {
    width: fit-content;
    padding: 5px 16px 5px 10px;
    border-radius: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: .5em;
    transition-property: background-color;
    transition-duration: .5s;
}

.profileDiv:hover {
    background-color: rgb(38, 38, 38);
}

.navLinks {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.colorize-orange {
    -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
    filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
}

.svgNav {
    height: 30px;
    width: 30px;
}

.svgDiv {
    display: inline-flex;
    align-items: flex-start;
}

.navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5px 3px 5px;
    border-radius: 25px;
    transition-property: background-color;
    transition-duration: .5s;
}

.navDiv:hover {
    background-color: rgb(38, 38, 38);
}

.followButton {
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
    height: 50%;
    width: 90%;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition-property: background-color;
    transition-duration: .5s;
}

.unfollowButton {
    color: white;
    background-color: black;
    padding: 0;
    margin: 0;
    height: 50%;
    width: 90%;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    border: .5px solid white;
    transition-property: background-color;
    transition-duration: .5s;
}

.unfollowButton:hover {
    background-color: rgb(38, 38, 38);
}

.editProfileButton {
    color: black;
    padding: 0;
    margin: 0;
    height: 50%;
    width: 90%;
    border-radius: 40px;
    cursor: pointer;
    font-size: 15px;
    border: none;
    transition-property: background-color;
    transition-duration: .5s;
}

.logoutButton {
    color: black;
    border: none;
    background-color: white;
    cursor: pointer;
    height: 4em;
    width: 12em;
    border-radius: 50px;
    transition: background-color .5s;
}

.editProfileButton:hover,
.followButton:hover,
.logoutButton:hover {
    background-color: rgb(207, 207, 207);
}


.show {
    visibility: visible;
    height: 60%;
    margin-left: 1em;
}

.dont {
    visibility: hidden;
    width: 100%;
    height: 60%;
}

.showButton {
    color: white;
    background-color: black;
    width: fit-content;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    /* border-bottom: 1px solid white; */
    color: white;
    width: 33.33%;
    height: 100%;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    padding: 1em 0;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: .5s;
}

.activated:hover,
.notActivated:hover {
    background-color: rgb(38, 38, 38);
}

.notActivated {
    cursor: pointer;
    color: grey;
    width: 33.33%;
    height: 100%;
    margin: 0;
    padding: 1em 0;
    text-align: center;
    transition-property: background-color;
    transition-duration: .5s;
}

.cawImage {
    width: 100%;
    height: 100%;
    margin-top: 10px;
    border-radius: 10px;
}

.likeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 8em;
    cursor: pointer;
}

.numberOfLikes {
    margin-left: 12px;
    cursor: pointer;
    color: #464a4c;
}

.likeButton:hover>.numberOfLikes,
.likeButton:hover>.svgHeart {
    color: #f9197f;
    fill: #f9197f;
}

.likeButton:hover>.svgContainer>.svgHeart,
.likeButton:hover>.svgContainerDetails>.svgHeart {

    fill: #f9197f;
}


.likeButton:hover>.svgContainer,
.likeButton:hover>.svgContainerDetails {
    background-color: rgba(249, 25, 127, .2);
    border-radius: 50%;
    padding: .5em;
}

.commentButton:hover>.svgContainer {
    background-color: rgba(25, 125, 255, .2);
}


.svgHeart,
.svgComment {
    fill: #71767A;
    transition-property: fill;
    transition-duration: .5s;

}

.commentButton:hover>.svgContainer>.svgComment,
.commentButton:hover>.totalComments {
    fill: rgb(25, 125, 255);
    color: rgb(25, 125, 255);
}

.totalComments {
    margin-left: 8px;
    color: #464a4c;
}

.commentButton {
    display: flex;
    flex-direction: row;
    margin-top: 0px;
    justify-content: flex-start;
    align-items: center;
}

.svgContainer,
.svgContainerDetails {
    display: flex;
    padding: .5em;
    border-radius: 50%;
}



.profileButton {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding: 6px 8px;
    width: fit-content;
    transition: all .5s;
}

.profileButton>div>div>button {
    transition: background-color .5s;
}

.profileButton:hover {
    background-color: rgb(38, 38, 38);
    padding: 6px 8px;
    border-radius: 50px;
}

.profileButton:hover>div>div>button {
    background-color: rgb(38, 38, 38);
}

.firstNameP:hover {
    text-decoration: underline;
}

.findMe {
    transition: all .5s;
}

.findMe:hover {
    transform: scale(1.2);
}
