.homePageContainer {
    width: 40%;
    height: 100%;
    /* border-right: 1px black solid;
    border-left: 1px black solid; */
    overflow-x: hidden;
}

::-webkit-scrollbar {
    display: none;
}

.navBar {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    flex-direction: column;
    position: fixed;
    left: 0px;
    background-color: black;
}

.userList {
    width: 30%;
    height: 100vh;
    position: fixed;
    right: 0px;
    background-color: black;
}

.userPTag {
    margin: .2em 0;
    color: white;
}

.userPTag:hover {
    text-decoration: underline;
}

.userListDiv {
    margin-left: 1em;

}

.header {
    color: black;
    border-right: .5px black solid;
    border-left: .5px black solid;
    margin: 0;
    padding: 20px 20px;
}

.pTag {
    margin: 0;
    color: black;
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    font-size: 15px;
    overflow-wrap: break-word;
}

.font {
    font-family: TwitterChirp, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

.submitButtonForCaw:disabled {
    background-color: lightgray;
    height: 30px;
    width: 20%;
    margin: 0;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: default;
}

.submitButtonForCaw {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

.submitButtonForComment {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: black;
    border-radius: 20px;
    border: none;
    cursor: pointer;
}

.submitButtonForComment:disabled {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: lightgray;
    border-radius: 20px;
    border: none;
    color: black;
    cursor: default;
}

/* .submitButtonForCaw {
    height: 30px;
    width: 20%;
    margin: 0;
    background-color: black;
    border-radius: 20px;
    border: none;
    color: white;
} */

.toggle {
    color: 'black'
}

.imgNav {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    background-color: white;
    fill: white;
}

.profileDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.navLinks {
    text-decoration: none;
    color: white;
    font-size: 22px;
}

.colorize-orange {
    -webkit-filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
    filter: hue-rotate(40deg) saturate(0.5) brightness(390%) saturate(4);
}

.svgNav {
    height: 30px;
    width: 30px;
}

.svgDiv {
    display: inline-flex;
    align-items: flex-start;
}

.navDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 5px 3px 5px;
    border-radius: 25px;
}

.navDiv:hover {
    background-color: darkgrey;
}



.show {
    visibility: visible;
    width: 100%;
    height: 60%;
}

.dont {
    visibility: hidden;
    width: 100%;
    height: 60%;
}

.showButton {
    color: white;
    background-color: black;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.activated {
    border-bottom: 1px solid black;
}
