.LoginFormModal {
    height: 40rem;
    width: 38rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-radius: 20px;
}

.editFormModal {
    border: .5px white solid;
    height: 20rem;
    width: 30rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.headerForLogin {
    color: white;
    font-size: 31px;
}

.inputsLogin {
    height: 45px;
    width: 225px;
    background-color: #eff3f4;
    border-radius: 5px;
}

input:focus {
    outline: none;
}

.divAroundInputs {
    margin: 20px 0;
}

.submitButton {
    width: 225px;
    height: 35px;
    border-radius: 30px;
    background-color: #eff3f4;
    color: black;
    cursor: pointer;
}

.submitButton:hover,
.loginButton:hover {
    background-color: white;
}

.submitButton:disabled {
    width: 225px;
    height: 35px;
    border-radius: 30px;
    background-color: black;
    color: black;
    border: none;
}

.imgInForm {
    background-color: white;
    height: 60px;
    width: 60px;
    border-radius: 50%;
}

.loginButton {
    width: 18rem;
    height: 3rem;
    border-radius: 40px;
    padding: 0 20px;
    font-size: 15px;
    color: black;
}
