@tailwind base;
@tailwind components;
@tailwind utilities;
/* TODO Add site wide styles */
#root {
    margin: 0;
    display: flex;

    justify-content: center;
    align-items: center;
    align-content: center;
    height: 100vh;
    width: 100vw;
    /* overflow-x: hidden; */
}

body,
button {
    margin: 0 auto;
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    color: #e6e9ea;
}

input:focus::placeholder {
    color: transparent;
}

textarea {
    font-family: TwitterChirpExtendedHeavy, Verdana, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;

}

textarea:focus {
    outline: none;
}
